@model IEnumerable<WhatToDo.Models.RecommendedHabit>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AimedDayCount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AimedDayCount)
            </td>
            <td>
                @Html.ActionLink("Follow", "FollowRecomendation", new { id = item.Id })
            </td>
        </tr>
    }
</table>
