@model WhatToDo.Models.Habit

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet">

<div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
    <div class="lh-1">
        <h4 class="h6 mb-0 text-white lh-1">My Habit List</h4>
    </div>
</div>

<div id="habitTableDiv"></div>

<div id="habitCreateForm" class="my-3 p-3 bg-body rounded shadow-sm">
    @using (Ajax.BeginForm("AJAXCreate", "Habits",
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            UpdateTargetId = "habitTableDiv",
            OnSuccess = "OnSuccess"
        }, new { autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row g-3">
            <div class="col-sm-4">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter a new habit" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>

            <div class="col-sm-2">
                @Html.EditorFor(model => model.AimedDayCount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Aimed day count" } })
                @Html.ValidationMessageFor(model => model.AimedDayCount, "", new { @class = "text-danger" })
            </div>

            <div class="col-sm-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    }
</div>

<small class="d-block text-end mt-3 border-top">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Clear All", "ClearAll")
        </div>
    }
</small>

<div>
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            @TempData["ErrorMessage"]
        </div>
    }
    <div id="recHabitTableDiv"></div>
</div>

@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Custom_Scripts/BuildHabitTable.js"></script>
    <script src="~/Custom_Scripts/BuildRecHabitTable.js"></script>
    <script>function OnSuccess() { this.reset(); }</script>
    @Scripts.Render("~/bundles/jqueryval")
}
