@model WhatToDo.Models.Habit

@{
    ViewBag.Title = "Index";
}

<h2>My Habit List</h2>

<div id="habitTableDiv"></div>

<div id="todoCreateForm">
    @using (Ajax.BeginForm("AJAXCreate", "Habits",
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            UpdateTargetId = "habitTableDiv",
            OnSuccess = "OnSuccess"
        }, new { autocomplete = "off" }))
    {
        <div class="form-group">
            @Html.AntiForgeryToken()
            <div>
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter a new to do item" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
    }
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("Clear Done", "ClearDone") |
        @Html.ActionLink("Clear All", "ClearAll")
    </div>
}

@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Custom_Scripts/BuildHabitTable.js"></script>
    <script>function OnSuccess() { this.reset(); }</script>
    @Scripts.Render("~/bundles/jqueryval")
}
