@model WhatToDo.Models.Habit

@{
    ViewBag.Title = "Index";
}

<h2>My Habit List</h2>

<p><strong>@TempData["ErrorMessage"]</strong></p>

<div id="habitTableDiv"></div>

<div id="habitCreateForm">
    @using (Ajax.BeginForm("AJAXCreate", "Habits",
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            UpdateTargetId = "habitTableDiv",
            OnSuccess = "OnSuccess"
        }, new { autocomplete = "off" }))
    {
        <hr />
        @Html.AntiForgeryToken()
        <form class="form-horizontal">
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-horizontal form-group">
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter a new habit" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>

                    @Html.LabelFor(model => model.AimedDayCount, htmlAttributes: new { @class = "control-label col-sm-2" })
                    <div class="col-sm-3">
                        @Html.EditorFor(model => model.AimedDayCount, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AimedDayCount, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-sm-3">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>
    }
</div>

<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("Clear All", "ClearAll")
    </div>
}

<div>
    <hr />
    <h4>Recommended Habits</h4>
    <hr />
    <div id="recHabitTableDiv"></div>
    <hr />
</div>

@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Custom_Scripts/BuildHabitTable.js"></script>
    <script src="~/Custom_Scripts/BuildRecHabitTable.js"></script>
    <script>function OnSuccess() { this.reset(); }</script>
    @Scripts.Render("~/bundles/jqueryval")
}
